*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
}

nav{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    height: min-content;
}

main.responsive-container{
    max-width: 1000px;  
    width: 90%;
    margin: 1rem auto;
    flex: 1;
    justify-self: flex-start;
}

main div.categories-container{
    margin: 1rem 0;
}

.logo a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

div.nav-links a{
    display: inline-block;
    margin: 0 1rem;
}

.nav-btns{
    display: flex;
}

.nav-btns i{
    display: inline-block;
    margin: 0 .5rem;
}

div.carousel{
    width: 100%;
    height: 700px;
    max-height: 700px;
    position: relative;
}

div.carousel-item{
    height: 100%;
}

div.carousel img{
    min-height: 100%;
}




div.carousel-content{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 45%;
}

div.carousel-content h2{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}



div.carousel-content button{
    background-color: rgb(27, 142, 187);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-top: 1rem;
}

div.carousel-inner{
    height: 100%;
}

div.carousel-inner div.carousel-item img{
    width: 100%;
    height: 500px;
}


div.slide-content div.card-wrapper div.card{
    max-width: 122px;
    max-height: 150px;
    border: unset;
}

div.wardrobe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    height: 500px;
    max-height: 500px;
    
}

div.wardrobe-grid > div{
    width: 100%;
    height: 100%;
    color: rgb(27, 142, 187);
    font-weight: 600;
    font-size: .9rem;
}


div.wardrobe-grid > div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.change-container{
    margin: 2rem 0;
}

div.wardrobe-grid div:first-child{
    grid-column: 1/3;
    grid-row: 1 / 3;
}

div.wardrobe-grid div:last-child{
    grid-column: 3/5;
    grid-row: 2 / 3;
}

div.card{
    width: 121px;
    min-width: 121px;
}


footer{
    background-color: gainsboro;
    padding: 2rem 0;
    margin-top: 3rem;
}

footer p{
    font-weight: 600;
    margin: 0;
}

footer h3{
    font-size: 1rem;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer div:first-child li{
    font-size: .9rem;
    
}

footer div:first-child li{
    font-size: .9rem;
    
}

footer div:last-child input{
    width: 100%;
    margin-bottom: 1rem;
}

footer div.footer-content{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    
}

div.nav-links a.active{
    color: rgb(27, 142, 187);
}

div.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


div.wardrobe-grid > div{
    position: relative;
    width: 100%;
    height: 100%
}

div.wardrobe-grid > div a{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: block;
    padding: 8px 12px;
    border-radius: 20px;
    width: fit-content;
}

div.wardrobe-grid a{
    color: rgb(27, 142, 187);
}

div.our-pick{
    margin: 2rem 0;
}

div.our-pick-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

div.our-pick-grid > div{
    outline: rgba(138, 137, 137, 0.158) solid 2px;
}

div.our-pick div.our-pick-item{
    transition: transform .5s ease-in-out;
}


div.our-pick div.our-pick-item:hover{
    transform: translateY(-5px);
}


div.our-pick div.our-pick-item img{
    width: 100%;
    height: 200px;
}

div.item-info{
    padding: .5rem;
}

div.item-info p{
    margin-bottom: .2rem;
}

div.item-info p.item-name{
    font-size: 1.2rem;
}

div.item-info p.item-price{
    color: gray;
}

.item-count{
    color: gray;
}

div.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

div.products-page-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
}

div.products-container div.item img{
    width: 100%;
    height: 200px;
}

div.category-filter{
    background-color: rgb(243, 243, 243);
    padding: 1rem
}

div.category-filter ul{
    list-style: none;
    padding: 0;
}

div.category-filter h2{
    font-size: 1.2rem;
}

div.item{
    transition: transform .5s ease-in-out;
    outline: rgba(241, 240, 240, 0.514) solid 2px;
}


div.item:hover{
    transform: translateY(-5px);
}


div.item img{
    width: 100%;
    height: 200px;
}

div.item-info{
    padding: .5rem;
}

div.item-info p{
    margin-bottom: .2rem;
}

div.item-info p.item-name{
    font-size: 1.2rem;
}

div.item-info p.item-price{
    color: gray;
}

div.blog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

div.blog-grid > div{
    transition: transform .5s ease-in-out;
}

div.blog-grid > div:hover{
    transform: translateY(-5px);
}

ul.register-error-container{
    padding: 0 .5rem;
    margin: .5rem 0;
    list-style: none;
}

ul.register-error-container li{
    color: rgb(233, 63, 63);
}


div.blog-grid img{
    max-width: 100%;
    min-height: 150px;
    width: 100%;
    height: 200px;
}

div.blog-grid h3{
    font-size: 1.2rem;
    margin: .5rem 0;
}


div.blog-grid p.date-published{
    font-size: .9rem;
    margin-bottom: .5rem;
}

div.blog-grid p{
    font-size: .9rem;
}

form label{
    display: block;
    margin: .5rem 0;
}

form textarea{
    resize: none;
}

form input, textarea{
    display: block;
    width: 100%;
    padding: .5rem 1rem;
}

div.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form button[type="submit"]{
    color:rgb(27, 142, 187);
    border: 1px solid rgb(27, 142, 187);
    background-color: unset;
    padding: 4px 12px;
    border-radius: 20px;
}

form.login-form{
    max-width: 600px;
    background-color: rgb(236, 236, 236);
    margin: 1rem auto;
    padding: 1rem;
}

form.login-form button{
    width: 100%;
    margin: .5rem 0;
}

form.login-form a{
    color:rgb(27, 142, 187);
    text-decoration: none;
}

.form-text{
    text-align: center;
}

.link-social{
    border-top: 1px solid gray;
    padding: .5rem;
}

nav a{
    color: black;
    text-decoration: none;

}

#search-modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10000;
    visibility: hidden;
    transition: opacity .1s ease-in-out;
}

a.item-link{
    text-decoration: none;
    color: inherit;
}

a.item-link:hover{
    color: inherit;
}

a.link-container{
    text-decoration: none;
    color: inherit
}

footer div.footer-content li a.link-container{
    text-decoration: none;
    color: inherit;
}

div.swiper div.swiper-button-next.swiper-navBtn, div.swiper div.swiper-button-prev.swiper-navBtn{
    color: rgb(34, 34, 34);
}

div.swiper div.swiper-button-next.swiper-navBtn::after, div.swiper div.swiper-button-prev.swiper-navBtn::after{
    font-size: 1.5rem;
}

div.card-content{
    text-align: center;
}

#search-header{
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



#search-header form{
    display: flex;
    flex: 1;
    justify-content: center;
}

#search-header form button{
    all: unset;
    color: black;
    border-top: 1px solid rgb(58, 58, 58);
    border-right: 1px solid rgb(58, 58, 58);
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-right: 1rem;
}

#search-header form input{
    width: 80%;
    border: 1px solid black;
    border-right: none;
}

#search-header form input:focus{
    outline: none;
    border: 1px solid black;
    border-right: none;
}

#search-modal.open{
    opacity: 1;
    visibility: visible;
}

div.shopping-cart-items{
    padding: 0 .5rem;
    flex: 1;
    overflow-y: auto;
}

div.cart-item p{
    margin: 0;
}

div.cart-item{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px dotted lightgray;
}

div.cart-item img{
    max-width: 70px;
    min-height: 100%;
}



#cart-modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    height: 100%;
    transition: opacity .1s ease-in-out;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
}

#shopping-cart{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    right: 0;
    top: 0;
    background-color: white;
    height: 100%;
    max-height: 100%;
}

.shopping-cart-header{
    background-color: rgb(27, 142, 187);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

#cart-modal.open{
    opacity: 1;
    visibility: visible;
}

body.modal-open{
    overflow: hidden;
}

#cart-info-container{
    padding: 1rem .5rem;
}

#cart-grid{
    display: grid;
    grid-template-columns:max-content max-content;
    justify-content: space-between;
}

#cart-info-container button{
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin: .5rem 0;
    border: 1px solid rgb(27, 142, 187);
}

.checkout-button{
    background-color: rgb(27, 142, 187);
    color: white;
}

.view-cart-button{
    background-color: white;
    color: rgb(27, 142, 187);
}

div.cart-page-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 20% 20% 30%;
}

div.btn-increase{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    font-size: 1.2rem;
    align-items: center;
}

div.cart-page-items-grid{
    display: grid;
    grid-template-columns: 30% 20% 20% 30% max-content;
    align-items: center;
}

div.btn-increase button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: unset;
    border: unset;
}

div.btn-increase button:first-child{
    margin-left: unset;
}

div.cart-page-items-grid div.cart-item{
    border: none;
}

div.cart-part-price-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgb(155, 153, 153);
    padding: 1rem .5rem;
    column-gap: 1rem;
}

button.cart-page-checkout{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid rgb(27, 142, 187);
    background-color: unset;
    color:rgb(27, 142, 187);
    text-align: end;
    border-radius: 20px;
}

.checkout-button a{
    text-decoration: none;
    color: inherit;
}

span.sale{
    color: rgb(233, 63, 63);
    text-decoration: line-through;
}

.product-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-img{
    max-width: 400px;
    height: 200px;
}

.color-option-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid gainsboro;
}

.color-option-container img{
    max-width: 30px;
    border-radius: 50%;
}

.color-option-container img.active{
    border: 2px solid rgb(27, 142, 187);
    margin: .5rem 0;
}


.size-container{
    border-bottom: 1px solid gainsboro;
    padding: .5rem 0
}

.size-container button{
    border: 1px solid gainsboro;
    padding: 2px 8px;
    background-color: unset;
}

.size-container button.size-selected{
    border-color: rgb(27, 142, 187);
    position: relative;
    overflow: hidden;
}

.size-container button.size-selected::after{
    content: "";
    width: 10px;
    height: 20px;
    background-color: rgb(27, 142, 187);
    position: absolute;
    bottom: -8px;
    right: -5px;
    transform: rotate(45deg);
}

.qty-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding: .5rem 0;
}

.product-img-container{
    text-align: center;
}

button.add-to-cart{
    background-color: unset;
    color: rgb(27, 142, 187);
    border: 1px solid rgb(27, 142, 187);
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
    margin-top: .5rem;
}

main.responsive-container div.product-query-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#categories-button{
    display: none;
}

div.checkout-item-scroll-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
}

ul.product-category-links li a.category-link{
    color: black;
    text-decoration: none;
}

ul.product-category-links li a.category-link.viewing{
    color: rgb(27, 142, 187);
}

#cart{
    position: relative;
}

#shopping-cart-qty{
    position: absolute;
    top: -5px;
    right:0;
    width: 15px;
    height: 15px;
    overflow: hidden;
    font-size: .7rem;
    display: flex;
    
    justify-content: center;
    background-color: rgb(27, 142, 187);
    color: white;
    border-radius: 50%;
}

main.responsive-container div#checkoutgrid.checkout-grid{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 2rem;
}


.checkout-item-container{
    position: relative;
}


#select-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#select-grid select{
    width: 100%;
    padding: .5rem;
    position: relative;
}

label.select-container{
    position: relative;
}

.after{
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: .8rem;
    background-color: white;
}

div#checkoutgrid div.cart-item{
    border-bottom: none;
}

#checkout-cart-items-container{
    max-height: 300px;
    overflow-y: auto;
}

div#checkoutgrid div.checkout-total-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

div#checkoutgrid div.checkout-total-grid div:nth-child(even){
    text-align: right;
}

form button.checkout-btn{
    background-color: rgb(27, 142, 187);
    border-radius: 5px;
    color: white;
}



#select-grid select#id_country::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(73, 44, 44);
}

.checkout-item-count{
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: rgb(180, 180, 180);
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#nav-bars{
    display: none;
}

div#close-nav{
    display: none;
}

#close-category-modal{
    display: none;
}

@media screen and (max-width: 500px) {
    main.responsive-container div.product-query-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main.responsive-container div.product-query-grid > div{
        width: 80%;
    }

    div.category-filter ul.product-category-links{
        padding: 0 1rem;
    }

    #close-category-modal{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
    }

    div.filters{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        background-color: white;
    }

    div.products-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    div.products-page-grid{
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        gap: 1.5rem;
    }
    div.change-container{
        height: max-content;
    }
    main.responsive-container div.wardrobe-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        gap: 1rem;
        height: 100%;
        max-height: unset;
    }
    div.wardrobe-grid div:first-child{
        grid-column: unset;
        grid-row: unset;
    }
    
    div.wardrobe-grid div:last-child{
        grid-column: unset;
        grid-row: unset;
    }

    div.our-pick-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    div.carousel{
        width: 100%;
        height: 150px;
        max-height: 150px;
        position: relative;
    }
    div.carousel div.carousel-item img{
        width: 100%;
        height: 100%;
    }

    div.blog-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main.responsive-container form div.form-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main.responsive-container div#checkoutgrid.checkout-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    div.cart-page-items-grid div.cart-item{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        font-size: .9rem;
    }

    div.cart-page-items-grid div.btn-increase{
        display: grid;
        grid-template-columns: max-content max-content max-content;
        font-size: .9rem;
        align-items: center;
    }

    div.cart-page-items-grid div.btn-increase button{
        margin: 0;
    }

    div.cart-page-items-grid{
        font-size: .9rem;
    }

    div.cart-page-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 30% 20% 20% 30%;
        font-size: .9rem;
    }

    #categories-button{
        display: block;
        font-weight: 600;
        padding: 8px 12px;
        background-color: inherit;
        color: rgb(27, 142, 187);
        border: 1px solid rgb(27, 142, 187);
        outline: none;
        border-radius: 20px;
        margin: 0 10% 1rem;
    }

    div.category-filter{
        background-color: white;
        padding: 0;
    }

    div.category-filter h2{
        background-color: rgb(27, 142, 187);
        color: white;
        padding: 1rem;
    }

}

@media screen and (max-width: 650px){
    div.nav-links{
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: 0;
        display: block;
        padding: 2.5rem 1rem;
        z-index: 1000;
        background-color: white;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }

    

    div.nav-links a{
        display: block;
    }
    
    div#nav-bars{
        display: block;
    }

    div#close-nav{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }
} 

@media screen and (min-width: 501px){
    div.blog-grid{
        grid-template-columns: 1fr 1fr;
    }

    main.responsive-container div.product-query-grid{
        grid-template-columns: 1fr 1fr;
    }

    div.our-pick-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main.responsive-container div.wardrobe-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        height: 100%;
        max-height: unset;
    }
    div.wardrobe-grid div:first-child{
        grid-column: unset;
        grid-row: unset;
    }

    div.wardrobe-grid div:last-child{
        grid-column: unset;
        grid-row: unset;
    }

    
}

@media screen and (min-width: 501px){
    div.products-container{
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (min-width: 780px){
    div.blog-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    div.products-container{
        grid-template-columns: 1fr 1fr 1fr;

    }

    main.responsive-container div.product-query-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    div.our-pick-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main.responsive-container div.wardrobe-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        gap: 1rem;
        height: 500px;
        max-height: 500px;
        
    }
    
    div.wardrobe-grid > div{
        width: 100%;
        height: 100%;
        color: rgb(27, 142, 187);
        font-weight: 600;
        font-size: .9rem;
    }
    
    
    div.wardrobe-grid > div img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .change-container{
        margin: 2rem 0;
    }
    
    div.wardrobe-grid div:first-child{
        grid-column: 1/3;
        grid-row: 1 / 3;
    }
    
    div.wardrobe-grid div:last-child{
        grid-column: 3/5;
        grid-row: 2 / 3;
    }
}
