{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="responsive-container">
    <h2>Blog</h2>

    <div class="blog-grid">
        <div class="blog-item">
            <img src="{% static 'images/blog1.jpeg'%}">
            <h3>4 Expert Tips On How To Choose The Right Men's Wallet</h3>
            <p class="date-published">25 May, 2024</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus earum quia sint maxime sit consectetur,
                eos excepturi
                perferendis officiis
                consequuntur deserunt minima! Alias, voluptates
                voluptatibus.</p>
        </div>
        <div class="blog-item">
            <img src="{% static 'images/blog2.jpg'%}">
            <h3>4 Expert Tips On How To Choose The Right Men's Wallet</h3>
            <p class="date-published">25 May, 2024</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus earum quia sint maxime sit consectetur,
                eos excepturi
                perferendis officiis
                consequuntur deserunt minima! Alias, voluptates
                voluptatibus.</p>
        </div>
        <div class="blog-item">
            <img src="{% static 'images/blog3.jpg'%}">
            <h3>4 Expert Tips On How To Choose The Right Men's Wallet</h3>
            <p class="date-published">25 May, 2024</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus earum quia sint maxime sit consectetur,
                eos excepturi
                perferendis officiis
                consequuntur deserunt minima! Alias, voluptates
                voluptatibus.</p>
        </div>
    </div>

</main>

{% endblock %}