{% extends 'main.html' %}

{% block content %}
<main class="responsive-container">
    <form class="login-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <h2>Register an account</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eos.</p>
        </div>
        {% for field in form %}
            <label>{{field.label}}</label>
            {{field}}
        {% endfor %}

        <ul class="register-error-container">
        {% for error in error_messages %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        <button type="submit">REGISTER</button>
        <p class="form-text">Already have an account?<a href="{% url 'login' %}">Login</a></p>

        <div class="link-social">
            <p class="form-text">Login with social networks</p>
        </div>
    </form>
</main>
{% endblock %}